<nav [ngClass]="isBlackHeader ? 'black-header' : 'white-header'" class="navbar navbar-expand-md bg-dark">
    <div class="d-sm-none">
        <svg  *ngIf="!isBlackHeader" [routerLink]="['/']" style="cursor: pointer;" width="54" height="41" viewBox="0 0 54 41" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M33.5039 14.0015H20.5024" stroke="url(#paint0_linear)" stroke-width="1.5" stroke-linejoin="round"/>
            <path d="M14.0013 14.0015L8.42676 6.57457L14.0013 1H39.9984L45.573 6.57457" stroke="#0A0A0A" stroke-width="1.5" stroke-linejoin="round"/>
            <path d="M1 14.0015L20.5022 39.9985L25.9771 32.7006H28.0287L33.5037 39.9985L53 14.0015" stroke="#0A0A0A" stroke-width="1.5" stroke-linejoin="round"/>
            <path d="M20.5 22.6637L25.9749 29.9617H28.0265L39.9963 14" stroke="#0A0A0A" stroke-width="1.5" stroke-linejoin="round"/>
            <defs>
            <linearGradient id="paint0_linear" x1="27.0032" y1="14.0015" x2="27.0032" y2="15.0015" gradientUnits="userSpaceOnUse">
            <stop stop-color="#DEA95F"/>
            <stop offset="1" stop-color="#CA9E52"/>
            </linearGradient>
            </defs>
        </svg> 
        <svg *ngIf="isBlackHeader" [routerLink]="['/']" style="cursor: pointer;" width="54" height="41" viewBox="0 0 54 41" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M33.5039 14.0015H20.5024" stroke="url(#paint0_linear)" stroke-width="1.5" stroke-linejoin="round"/>
            <path d="M14.0013 14.0015L8.42676 6.57457L14.0013 1H39.9984L45.573 6.57457" stroke="white" stroke-width="1.5" stroke-linejoin="round"/>
            <path d="M1 14.0015L20.5022 39.9985L25.9771 32.7006H28.0287L33.5037 39.9985L53 14.0015" stroke="white" stroke-width="1.5" stroke-linejoin="round"/>
            <path d="M20.5 22.6637L25.9749 29.9617H28.0265L39.9963 14" stroke="white" stroke-width="1.5" stroke-linejoin="round"/>
            <defs>
            <linearGradient id="paint0_linear" x1="27.0032" y1="14.0015" x2="27.0032" y2="15.0015" gradientUnits="userSpaceOnUse">
            <stop stop-color="#DEA95F"/>
            <stop offset="1" stop-color="#CA9E52"/>
            </linearGradient>
            </defs>
        </svg>
    </div>
    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <mat-icon aria-hidden="false" color="warn">menu</mat-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed">
        <ul class="navbar-nav col-sm-12">
            <li class="col-sm-1"></li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" 
                    (click)="collapseNavbar()"
                    [ngClass]="isBlackHeader ? 'text-button-black' : 'text-button-white'"
                    [routerLink]="['/products']">
                    <span>Product</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" 
                    (click)="collapseNavbar()"
                    [ngClass]="isBlackHeader ? 'text-button-black' : 'text-button-white'"
                    [routerLink]="['/our-story']">
                    <span>Our Story</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" 
                    (click)="collapseNavbar()"
                    [ngClass]="isBlackHeader ? 'text-button-black' : 'text-button-white'"
                    [routerLink]="['/delivery']">
                    <span>Delivery</span>
                </a>
            </li>
            <li class="col-sm-1"></li>
            <li class="col-sm-1"></li>
            <div *ngIf="isNavbarCollapsed" class="col-sm col-xs-1">
                <svg *ngIf="!isBlackHeader" [routerLink]="['/']" style="cursor: pointer;" width="54" height="41" viewBox="0 0 54 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M33.5039 14.0015H20.5024" stroke="url(#paint0_linear)" stroke-width="1.5" stroke-linejoin="round"/>
                    <path d="M14.0013 14.0015L8.42676 6.57457L14.0013 1H39.9984L45.573 6.57457" stroke="#0A0A0A" stroke-width="1.5" stroke-linejoin="round"/>
                    <path d="M1 14.0015L20.5022 39.9985L25.9771 32.7006H28.0287L33.5037 39.9985L53 14.0015" stroke="#0A0A0A" stroke-width="1.5" stroke-linejoin="round"/>
                    <path d="M20.5 22.6637L25.9749 29.9617H28.0265L39.9963 14" stroke="#0A0A0A" stroke-width="1.5" stroke-linejoin="round"/>
                    <defs>
                    <linearGradient id="paint0_linear" x1="27.0032" y1="14.0015" x2="27.0032" y2="15.0015" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#DEA95F"/>
                    <stop offset="1" stop-color="#CA9E52"/>
                    </linearGradient>
                    </defs>
                </svg> 
                <svg *ngIf="isBlackHeader" [routerLink]="['/']" style="cursor: pointer;" width="54" height="41" viewBox="0 0 54 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M33.5039 14.0015H20.5024" stroke="url(#paint0_linear)" stroke-width="1.5" stroke-linejoin="round"/>
                    <path d="M14.0013 14.0015L8.42676 6.57457L14.0013 1H39.9984L45.573 6.57457" stroke="white" stroke-width="1.5" stroke-linejoin="round"/>
                    <path d="M1 14.0015L20.5022 39.9985L25.9771 32.7006H28.0287L33.5037 39.9985L53 14.0015" stroke="white" stroke-width="1.5" stroke-linejoin="round"/>
                    <path d="M20.5 22.6637L25.9749 29.9617H28.0265L39.9963 14" stroke="white" stroke-width="1.5" stroke-linejoin="round"/>
                    <defs>
                    <linearGradient id="paint0_linear" x1="27.0032" y1="14.0015" x2="27.0032" y2="15.0015" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#DEA95F"/>
                    <stop offset="1" stop-color="#CA9E52"/>
                    </linearGradient>
                    </defs>
                </svg>
            </div>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" 
                    (click)="collapseNavbar()"
                    [ngClass]="isBlackHeader ? 'text-button-black' : 'text-button-white'"
                    [routerLink]="['/pre-order']">
                    <span>Pre-Order</span>
                </a>
            </li>
            <li *ngIf="!isLogin" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" 
                    (click)="open(mymodal)"
                    [ngClass]="isBlackHeader ? 'text-button-black' : 'text-button-white'">
                    <span>Sign In</span>
                </a> 
            </li>
            <li *ngIf="isLogin" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" 
                    (click)="signOut()"
                    [ngClass]="isBlackHeader ? 'text-button-black' : 'text-button-white'">
                    <span>Sign Out</span>
                </a> 
            </li> 
            <li class="col-sm-1"></li>
            <ng-template style="width: 950px;" #mymodal let-modal>
                <app-login></app-login>
            </ng-template>
        </ul>
    </div>
</nav>
