<div class="header">
    <div class="container">
        <div class="row top-spacing">
            <div class="col-sm col-xs-1 text-button"  [routerLink]="['/products']">
                Product
            </div>
            <div class="col-sm col-xs-1 text-button" [routerLink]="['/our-story']">
                Our Story
            </div>
            <div class="col-sm col-xs-1 text-button" [routerLink]="['/delivery']">
                Delivery
            </div>
            <div class="col-sm col-xs-1"></div>
            <div class="col-sm col-xs-1"></div>
            <div class="col-sm col-xs-1">
                <svg [routerLink]="['/']" style="cursor: pointer;" width="54" height="41" viewBox="0 0 54 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M33.5039 14.0015H20.5024" stroke="url(#paint0_linear)" stroke-width="1.5" stroke-linejoin="round"/>
                    <path d="M14.0013 14.0015L8.42676 6.57457L14.0013 1H39.9984L45.573 6.57457" stroke="#0A0A0A" stroke-width="1.5" stroke-linejoin="round"/>
                    <path d="M1 14.0015L20.5022 39.9985L25.9771 32.7006H28.0287L33.5037 39.9985L53 14.0015" stroke="#0A0A0A" stroke-width="1.5" stroke-linejoin="round"/>
                    <path d="M20.5 22.6637L25.9749 29.9617H28.0265L39.9963 14" stroke="#0A0A0A" stroke-width="1.5" stroke-linejoin="round"/>
                    <defs>
                    <linearGradient id="paint0_linear" x1="27.0032" y1="14.0015" x2="27.0032" y2="15.0015" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#DEA95F"/>
                    <stop offset="1" stop-color="#CA9E52"/>
                    </linearGradient>
                    </defs>
                </svg> 
            </div>
            <div class="col-sm col-xs-1"></div>
            <div class="col-sm col-xs-1"></div>
            <div class="col-sm col-xs-1"></div>
            <div class="col-sm col-xs-1 text-button" [routerLink]="['/pre-order']">PRE-ORDER</div>
            <div class="col-sm col-xs-1 text-button" (click)="open(mymodal)">Sign In</div>
            <ng-template style="width: 950px;" #mymodal let-modal>
                <div class="modal-body">
                    <form [formGroup]="userForm">
                        <div class="mb-5" style="border: 2px solid #666666; box-sizing: border-box;">
                            <input formControlName="email" type="email" id="Form-email1" placeholder="email" class="form-control validate">
                        </div>
                        <div class="mb-5" style="border: 2px solid #666666; box-sizing: border-box;">
                            <input formControlName="password" type="password" placeholder="password" id="Form-pass1" class="form-control validate">
                        </div>
                    </form>
                    <button class="login-button" (click)="login()">Login</button>
                    <div class="row" style="padding-bottom: 30px;">
                        <div class="col-sm-5">
                            <p class="font-small blue-text d-flex justify-content-start"><a href="#" class="blue-text ml-1">
                                Register?</a></p>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-5">
                            <p class="font-small blue-text d-flex justify-content-end"> <a href="#" class="blue-text ml-1">
                                Forgot Password?</a></p>
                        </div>
                    </div>
                    <div style="padding-bottom: 10px;">
                        <button class="vk-button">
                            <img style="float: left;" src="../../assets/images/vk.png">
                            Войти через VK
                        </button>
                    </div>
                    <div style="padding-bottom: 10px;">
                        <button class="google-button">
                            <img style="float: left;" src="../../assets/images/google_svg.png">
                            Войти через Google
                        </button>
                    </div>
                    <div style="padding-bottom: 10px;">
                        <button class="facebook-button">
                            <img style="float: left;" src="../../assets/images/facebook_svg.png">
                            Войти через Facebook
                        </button>
                    </div>
                </div>
            </ng-template>
            

        </div>
    </div>
</div>
