<div class="header">
    <div class="container">
        <div class="row top-spacing">
            <div class="col-sm text-button">
                Product
            </div>
            <div class="col-sm text-button">
                Our Story
            </div>
            <div class="col-sm text-button">
                Delivery
            </div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm">
                <svg width="54" height="41" viewBox="0 0 54 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M33.5039 14.0015H20.5024" stroke="url(#paint0_linear)" stroke-width="1.5" stroke-linejoin="round"/>
                    <path d="M14.0013 14.0015L8.42676 6.57457L14.0013 1H39.9984L45.573 6.57457" stroke="#0A0A0A" stroke-width="1.5" stroke-linejoin="round"/>
                    <path d="M1 14.0015L20.5022 39.9985L25.9771 32.7006H28.0287L33.5037 39.9985L53 14.0015" stroke="#0A0A0A" stroke-width="1.5" stroke-linejoin="round"/>
                    <path d="M20.5 22.6637L25.9749 29.9617H28.0265L39.9963 14" stroke="#0A0A0A" stroke-width="1.5" stroke-linejoin="round"/>
                    <defs>
                    <linearGradient id="paint0_linear" x1="27.0032" y1="14.0015" x2="27.0032" y2="15.0015" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#DEA95F"/>
                    <stop offset="1" stop-color="#CA9E52"/>
                    </linearGradient>
                    </defs>
                </svg> 
            </div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm text-button">PRE-ORDER</div>
            <div class="col-sm text-button">Sign In</div>
        </div>
    </div>
</div>
