<div class="footer">
    <div class="container">
        <div class="row row-footer">
            <div class="col-sm"></div>
            <div class="col-sm">
                <div class="column-header">
                    CUSTOMER SERVICE
                </div>
                <div class="text-button">
                    TERMS OF USE
                </div>
                <div class="text-button">
                    BLOG
                </div>
                <div class="text-button">
                    Contact us
                </div>
                <div class="text-button">
                    FAQ
                </div>
            </div>
            <div class="col-sm"></div>
            <div class="col-sm">
                <div class="column-header">
                    PRODUCT
                </div>
                <div class="text-button">
                    Pre-order
                </div>
                <div class="text-button">
                    Delivery Time
                </div>
                <div class="text-button">
                    Sizing Chart
                </div>
                <div class="text-button">
                    Return Policy
                </div>
            </div>
            <div class="col-sm"></div>
            <div class="col-sm">
                <div class="column-header">
                    NEWSLETTTER
                </div>
                <div>
                    <input style="color: #CCCCCC;" #email placeholder="Enter your email here" class="email-input">
                </div>
                <button class="subscribe-button" (click)="subscribe(email)">
                        SUBSCRIBE
                </button>
                <div class="subscribe">
                    Subscribe for news and updates
                </div>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
</div>