<div class="footer">
    <div class="container" style="padding-top: 100px;">
        <div class="row row-footer">
            <div class="col-sm-4 col-xs-4">
                <div class="column-header">
                    CUSTOMER SERVICE
                </div>
                <div class="text-button" [routerLink]="['/terms']">
                    TERMS OF USE
                </div>
                <div class="text-button" [routerLink]="['/blog']">
                    BLOG
                </div>
                <div class="text-button">
                    Contact us
                </div>
                <div class="text-button" [routerLink]="['/faq']">
                    FAQ
                </div>
            </div>
            <div class="col-sm-4 col-xs-4">
                <div class="column-header">
                    PRODUCT
                </div>
                <div class="text-button" [routerLink]="['/pre-order']">
                    Pre-order
                </div>
                <div class="text-button" [routerLink]="['/delivery']">
                    Delivery Time
                </div>
                <div class="text-button" (click)="open(mymodal)">
                    Sizing Chart
                </div>
                    <ng-template style="width: 950px;" #mymodal let-modal>
                        <app-sizing-chart></app-sizing-chart>
                    </ng-template>

                <div class="text-button" [routerLink]="['/return-policy']">
                    Return Policy
                </div>
            </div>
            <div class="col-sm-4 col-xs-4">
                <div class="column-header">
                    NEWSLETTTER
                </div>
                <div>
                    <input style="color: #CCCCCC;" #email placeholder="Enter your email here" class="email-input">
                </div>
                <button class="subscribe-button" (click)="subscribe(email)">
                        SUBSCRIBE
                </button>
                <div class="subscribe">
                    Subscribe for news and updates
                </div>
            </div>
        </div>
    </div>
</div>