.footer {
position: inherit;
left: 0%;
right: 0%;
bottom: 0%;
height: 320px;
background: #000000;

}

.row-footer {
    margin-top: 25px;
    margin-bottom: 25px;
}

.column-header {
position: static;
left: 4.81%;
right: 4.81%;
top: 22.73%;
bottom: 22.73%;

font-family: Fira Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
/* identical to box height */

letter-spacing: 0.04em;
color: #FFFFFF;
/* Inside Auto Layout */

flex: none;
order: 0;
align-self: center;
margin: 10px 0px;
white-space: nowrap;
text-transform: uppercase;
}

.text-button {
position: static;
left: 6.94%;
right: 6.94%;
top: 23.81%;
bottom: 23.81%;

font-family: Fira Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* identical to box height */

letter-spacing: 0.04em;
text-transform: uppercase;
color: #CCCCCC;
/* Inside Auto Layout */
flex: none;
order: 0;
align-self: center;
margin: 10px 0px;
cursor: pointer;
white-space: nowrap;
}

.subscribe {
    position: static;
left: 3.55%;
right: 3.55%;
top: 23.81%;
bottom: 23.81%;

font-family: Fira Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* identical to box height */
color: #CCCCCC;
/* Inside Auto Layout */
flex: none;
order: 0;
align-self: center;
margin: 10px 0px;
}

.subscribe-button {
margin-top: 5px;
width: 148px;
height: 35px;
left: 1261px;
top: 210px;

/* Accent Smarthwhite */

background: linear-gradient(61.82deg, #CC9D52 25.83%, #E6B260 80.3%);
}

.email-input {
    background: #000000;
}

@media only screen and (max-width: 375px) {

	.footer {
        position: inherit;
        left: 0%;
        right: 0%;
        bottom: 0%;
        height: 650px;
        background: #000000;
        
    }
}