<div class="policy">
    <div class="container">
        <div class="policy-body-description">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                <div class="form-group col"> 
                                    <h3>Checkout</h3>
                                    <h6>SIGN UP or SIGN IN </h6>
                                </div>
                                <div class="form-group col" style="padding-top: 15px;"> 
                                    <span class="shipping-information">personal information</span>
                                </div>
                                <div class="form-group col">
                                    <input type="text" placeholder="Name" formControlName="name" class="form-control"/>
                                </div>
                                <div class="form-group col">
                                    <input type="text" placeholder="First Name" formControlName="surname" class="form-control"/>
                                </div>
                                <div class="form-group col">
                                    <input type="text" placeholder="Email" formControlName="email" class="form-control"/>
                                </div>
                                <div class="form-group col">
                                    <input type="text" placeholder="Phone" formControlName="phone" class="form-control"/>
                                </div>
                                <div class="form-group col" style="padding-top: 15px;"> 
                                    <span class="shipping-information">Shipping information</span>
                                </div>
                                <div class="form-group col">
                                    <input type="text" placeholder="Address" formControlName="address" class="form-control"/>
                                </div>
                                <div class="form-group col">
                                    <input type="text" placeholder="City" formControlName="city" class="form-control"/>
                                </div>
                                <div class="form-group col">
                                    <input type="text" placeholder="Zipcode" formControlName="zipcode" class="form-control"/>
                                </div>
                                <div class="form-group col">
                                    <span [routerLink]="['/terms']" class="link" style="margin-left: 10px; cursor: pointer;">Terms of use</span>
                                    <span [routerLink]="['/return-policy']" class="link" style="margin-left: 50px; cursor: pointer;">Return policy</span>
                                    <span [routerLink]="['/faq']" class="link" style="margin-left: 50px; cursor: pointer;">FAQ</span>
                                </div>
                                <div class="form-group col">
                                    <input class="check-box" type="checkbox"/><span style="margin-left: 10px;">Sign up for emails on out latest offers & trends</span>
                                </div>
                                <div class="form-group col">
                                    <button class="btn btn-primary submit-button">Submit Order</button>
                                </div>
                        </form>
                    </div>
                    <div class="col-sm">
                        <div class="form-group col"> 
                            <h3 style="padding-bottom: 100px;">Your Bag</h3>
                            <div class="row">
                                <div class="col-sm">
                                    <img src="../../assets/images/image_checkout.png">
                                </div>
                                <div class="col-sm">
                                    <span class="text-description">Regular cotton linen-blend shirt</span>
                                    <br/>
                                    <span>SIZE: <strong>{{order?.size}}</strong>, <strong>REGULAR</strong></span>
                                    <div class="text-selection">QUANTITY</div>
                                    <div class="quantity">
                                        <button class="radio-button" type="button" (click)="removeQuantity()">
                                            -
                                        </button>
                                        <button class="radio-button">{{order?.quantity ? order?.quantity : 1}}</button>
                                        <button class="radio-button" type="button" (click)="addQuantity()">
                                            +
                                        </button>
                                    </div>
                                </div>
                                <div class="divider"></div>
                            </div>
                        </div>
                        <div class="row">
                            <h2 class="col-6 col-sm-3">Total:</h2>
                            <div class="col-sm-7"></div>
                            <h2 class="col-6 col-sm-2">{{order?.quantity * 30}} $</h2>
                        </div>
                    </div>
                </div> 
            </div> 
        </div>
    </div>
  </div>
  