<div class="products">
    <div>
        <div class="row" style="padding-bottom: 150px;">
            <div class="col-sm-6">
                <span class="first-title-0">почему</span>
                <span class="first-title">Я должен ждать 90 дней?</span>
                <span style="width: 560px !important;" class="product-title-description-2">Предварительные заказы позволяют нам гибко управлять материальными и производственными ресурсами. Это экономит наши и ваши затраты и напрямую влияет на ценообразование. Выбранная нами модель работы по предзаказу также является частью усилий, направленных на повышение экологичности и миним- изацию негативного влияния на окружающую среду. Миллионы нераспроданных предметов одежды крупные бренды ежегодно выбрасывают на свалку и загряз- няют планету. Мы за осознанное потребление. Поэтому производим только необходимое количество вещей.</span>
            </div>
            <div class="col-sm-6"></div>
        </div>
        <div class="row space-line">
            <div class="col-sm-6">
                <img src="../../assets/images/delivery/delivery_1.png">
            </div>
            <div class="col-sm-6">
                <span class="product-title-description-1">2 неделя</span>
                <span class="product-title-description-1-1">--------заказ и доставка материалов:</span>
                <span class="product-title-description-2">Фабрика, с которой сотрудничает SmartWhite, производит ткани для известных мировых брендов. Поэтому мы уверены в качестве ткани рубашки SmartWhite на все 100%. Серьёзное внимание мы уделили и выбору поставщика фурнитуры. Прошедшие строгий отбор производители готовят нужную партию тканей, пуговиц, воротничков и оперативно поставляют на швейную фабрику.</span>
            </div>
        </div>
        <div class="row space-line">
            <div class="col-sm-6">
                <span class="product-title-description-1">4 неделя</span>
                <span class="product-title-description-1-1">--------раскройка и нарезка выкройки:</span>
                <span class="product-title-description-2">
                    На первом этапе производства ткань раскраивается, нарезается по выкройкам на отдельные детали и тщательно проверяется на наличие дефектов.
                </span>
            </div>
            <div class="col-sm-6">
                <img src="../../assets/images/delivery/delivery_2.png">
            </div>
        </div>
        <div class="row space-line">
            <div class="col-sm-6">
                <img src="../../assets/images/delivery/delivery_3.png">
            </div>
            <div class="col-sm-6">
                <span class="product-title-description-1">6 неделя</span>
                <span class="product-title-description-1-1">--------сборка и пошив:</span>
                <span class="product-title-description-2">
                    После раскройки и нарезки ткань передаётся команде, которая отвечает за сборку и пошив рубашек SmartWhite. Их задача – ровные швы и безупречная форма изделия, готового к обработке по технологии non-iron.
                </span>
            </div>
        </div>
    </div>
</div>

<div class="products-1">
    <div>
        <div style="padding-top: 100px;" class="row space-line">
            <div class="col-sm-6">
                <span class="product-title-description-1">8 неделя</span>
                <span class="product-title-description-1-1">--------non-iron обработка:</span>
                <span style="color: #333333;" class="product-title-description-2">
                    Процессы, которым подвергается ткань на этом этапе производства – это именно то, что придает нашему продукту качество non-iron. Каждая рубашка SmartWhite на этом этапе аккуратно подвешивается, обрабатывается и высушивается в специально
                </span>
            </div>
            <div class="col-sm-6">
                <img src="../../assets/images/delivery/delivery_4.png">
            </div>
        </div>
        <div class="row space-line">
            <div class="col-sm-6">
                <img src="../../assets/images/delivery/delivery_5.png">
            </div>
            <div class="col-sm-6">
                <span class="product-title-description-1">10 неделя</span>
                <span class="product-title-description-1-1">--------контроль качества:</span>
                <span style="color: #333333;" class="product-title-description-2">
                    Инспекторы отдела контроля качества внимательно исследуют каждую рубашку на наличие дефектов. После серии тестов продукт, прошедший проверку, отправляется на упаковку и отправку.
                </span>
            </div>
        </div>
        <div class="row space-line">
            <div class="col-sm-6">
                <span class="product-title-description-1">12 неделя</span>
                <span class="product-title-description-1-1">--------упаковка и отправка:</span>
                <span style="color: #333333;" class="product-title-description-2">
                    Целая команда работников трудится над сборкой красивых коробок, которые мы разработали специально для рубашек SmartWhite. Каждый наш продукт бережно упаковывается, маркируется адресом и отправляется к нашему партнеру, отвечающему за доставку заказа к вашей двери.
                </span>
            </div>
            <div class="col-sm-6">
                <img src="../../assets/images/delivery/delivery_6.png">
            </div>
        </div>
        <div class="row space-line">
            <div class="col-sm-6">
                <img src="../../assets/images/delivery/delivery_7.png">
            </div>
            <div class="col-sm-6">
                <span style="color: #0A0A0A;" class="product-title-description-1">Получение заказа</span>
                <span style="color: #333333;" class="product-title-description-2">
                    Мы надеемся, что вы полюбите рубашку SmartWhite так же, как и мы. Мы потратили два года на поиски лучших материалов и фабрик. Мы создали собственную бизнес-модель, что позволяет нам устанавливать честную цену на наш продукт. Мы гордимся полученным результатом. Рубашка SmartWhite превзошла наши ожидания по качеству, и мы надеемся, что вы почувствуете то же самое.
                </span>
            </div>
        </div>
    </div>
</div>