<ng-container *ngIf="showSlide === 0">
    <div class="main-page" @container>
        <span @enterExitUP style="z-index: -2;" class="our-story-text responsive-image">SMARTWHITE</span>
        <div>
            <div class="col">       
                <span class="text d-none d-sm-block">Качество не должно быть дорогим.</span>
                <button class="button button-order" [routerLink]="['/pre-order']">сделать предзаказ</button>
            </div>
            <img @enterExitRight style="z-index: -1;margin-top: -200px;margin-bottom: -34px;" class="responsive responsive-image" src="../../assets/images/man.png">
            <button class="button-start" (click)="displayOtherSlide()">
                <img style="transform: rotate(-45);" src="../../assets/images/arrow_down.png">
            </button>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="showSlide === 1" >
    <div class="our-story"(click)="displayOtherSlide()" @container>
        <span style="z-index: -1;" class="our-story-text">SMARTWHITE</span>
        <div class="row">
            <div @enterExitLeft *ngIf="showSlide2Pictures" class="col-sm-4">
                <img class="responsive" style="padding-top: 27px;" 
                src="../../assets/images/cristin 1.png">
            </div>
            <div class="col-sm-4">
                <span *ngIf="showSlide2Text" @enterExitUP class="our-story-title">Самое важное для нас - честность.</span>
                <div *ngIf="showSlide2Text"  @enterExitLeft class="col-sm-6">
                    <span class="description">
                        Мы изучили рынок и пришли к выводу, что предметы роскоши на самом деле не дороги в производстве. Их просто дорого продают. Мы нашли лучших мировых производителей в Азии, регионе, которому доверяют свой текстиль престижные бренды-миллионники
                    </span>
                </div>
                <div *ngIf="showSlide2Text" @enterExitRight class="col-sm-6">
                    <span class="description-2">
                        Рубашки SMARTWHITE шьют на тех же фабриках, из тех же тканей и по аналогичным лекалам. Единственное отличие – цена. Лучшая из возможных.
                    </span>
                </div>           
            </div>
            <div *ngIf="showSlide2Pictures" @enterExitRight class="col-sm-4">
                <img class="responsive" 
                src="../../assets/images/cristin 2.png">
            </div>
        </div>   
    </div>
</ng-container>
<ng-container>
    <div *ngIf="showSlide >= 2 && showSlide < 9" (click)="displayOtherSlide()" @container>
        <div class="product-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5" style="text-align: center;">
                        <div *ngIf="showSlide === 2" @enterExitUP class="col-sm-5 justify-content-center text-center">
                            <div class="row"><span style="padding-left: 80px;" class="first-title-0">представляем</span></div>
                            <div class="row"><span class="first-title">Smartwhite Oxford Slim Fit</span></div>
                        </div>
                        <span *ngIf="showSlide !== 2" class="product-title">
                            <img style="height: 15px;margin-top: 13px;" src="../../assets/images/Rectangle.png">Хлопок класса люкс
                        </span>
                        <span @enterExitUP *ngIf="showSlide === 3" class="first-title-0">Длина имеет значение</span>
                        <span @enterExitUP *ngIf="showSlide === 3" class="product-title-description-2 responsive-image">Рубашки SmartWhite изготовлены из длинноволокнистого американского хлопка стандарта Supima® – лишь 1% вырабатываемого в мире сырья соответствует строгим требованиям этого сертификата. Полотно из хлопка Supima®легче, мягче и на 45% прочнее обычного. Ткань “дышит” и исключает образование катышков.</span>
                        
                        <span *ngIf="showSlide !== 2 && showSlide !== 3" class="product-title">
                            <img style="height: 15px;margin-top: 13px;" src="../../assets/images/Rectangle.png">Технология non-iron
                        </span>
                        <span @enterExitUP *ngIf="showSlide === 4" class="first-title-0">Свежий вид даже в конце рабочего дня</span>
                        <span @enterExitUP *ngIf="showSlide === 4" class="product-title-description-2 responsive-image">В производстве рубашек SmartWhite используется инновационная технология non-iron, благодаря которой рубашки остаются свежими даже спустя 8 часов носки. Степень сминаемости наших изделий – 3.5, а значит рубашка SmartWhite не мнётся и почти не требует глажки. После стирки она самостоятельно восстанавливает форму.</span>
        
                        <span *ngIf="showSlide !== 2 && showSlide !== 3 && showSlide !== 4" class="product-title">
                            <img style="height: 15px;margin-top: 13px;" src="../../assets/images/Rectangle.png">Воротник STAFLEX Tech
                        </span>
                        <span @enterExitUP *ngIf="showSlide === 5" class="first-title-0">Сделано в Японии</span>
                        <span @enterExitUP *ngIf="showSlide === 5" class="product-title-description-2 responsive-image">Воротник рубашки обязан держать форму и быть жёстким (а вы – нет). Накрахмаленная до хруста сорочка в прошлом, на смену пришли технологии. В нашем случае – из Японии. В ответе за безупречные воротнички рубашек SmartWhite лидер рынка - STAFLEX. Как результат - безукоризненная форма навсегда.</span>
                   
                        <span *ngIf="showSlide !== 2 && showSlide !== 3 && showSlide !== 4 && showSlide !== 5" class="product-title">
                            <img style="height: 15px;margin-top: 13px;" src="../../assets/images/Rectangle.png">Безупречные швы
                        </span>
                        <span @enterExitUP *ngIf="showSlide === 6" class="product-title-description-2 responsive-image">В деталях кроется успех. В рубашке SmartWhite идеально ровные швы, не собирающие ткань в неряшливые “морщинки”. Пройма скроена и оформлена максимально аккуратно. В нашей рубашке вы выглядите стильно и опрятно.</span>
    
                        <span *ngIf="showSlide !== 2 && showSlide !== 3 && showSlide !== 4 && showSlide !== 5 && showSlide !== 6" class="product-title" style="white-space: nowrap;">
                            <img style="height: 15px;margin-top: 13px;" src="../../assets/images/Rectangle.png">Пуговицы с запасом прочности
                        </span>
                        <span @enterExitUP *ngIf="showSlide === 7" class="product-title-description-2 responsive-image">В рубашке SmartWhite нет слабых мест, а одно из самых сильных - пуговицы. В 6 раз крепче обычных и с тщательно укрепленной петелькой, они прослужат в 16 раз дольше.</span>
    
                        <button *ngIf="showSlide === 8" style="margin-left: 150px;" class="buttton-more">More Details</button>
                    </div>
    
                    <div *ngIf="showSlide === 2" class="col-sm-7">
                        <img width="580" class="responsive-image" src="../../assets/images/tshirt.png">
                    </div>
                    <div *ngIf="showSlide === 3" class="col-sm-7">
                        <img width="580" class="responsive-image" src="../../assets/images/tshirt.png">
                    </div>
                    <div *ngIf="showSlide === 4" class="col-sm-7">
                        <img width="580" class="responsive-image" src="../../assets/images/tshirt_1.png">
                    </div>
                    <div *ngIf="showSlide === 5" class="col-sm-7">
                        <img width="580" class="responsive-image" src="../../assets/images/tshirt_2.png">
                    </div>
                    <div *ngIf="showSlide === 6" class="col-sm-7">
                        <img width="580" class="responsive-image" src="../../assets/images/tshirt_3.png">
                    </div>
                    <div *ngIf="showSlide === 7" class="col-sm-7">
                        <img width="580" class="responsive-image" src="../../assets/images/tshirt_4.png">
                    </div>
                    <div *ngIf="showSlide === 8" class="col-sm-7">
                        <img width="580" class="responsive-image" src="../../assets/images/tshirt_2.png">
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</ng-container>
<ng-container>
    <div *ngIf="showSlide >= 9 && showSlide < 20" (click)="displayOtherSlide()">
        <div class="pre-order">
            <div class="container container-information">

                <div *ngIf="showSlide === 9" @enterExitLeft  class="col-sm-6">
                    <div><span class="price-header">почему</span></div>
                    <div><span class="price-title">рубашка стоит так дешево?</span></div>
                    <div>
                        <span class="price-title-description">Мы принципиально задумали SmartWhite бизнесом, лишенным расходов на аренду торговых площадей, персонал, розничную наценку посредников и, будем честными, на космические бонусы топ-менеджмента. Мы убрали всё лишнее и получили идеальный продукт – бескомпромиссно качественную белую рубашку, в которой комфортно жить нам, и в которой будет комфортно жить вам.</span>
                    </div>
                </div>

                <div *ngIf="showSlide >= 10 && showSlide < 14" class="col-sm-6">
                    <div @enterExitLeft><span class="price-header">как</span></div>
                    <div @enterExitLeft><span class="price-title">создаётся базовая цена?</span></div>

                    <img *ngIf="showSlide === 10" @enterExitRight src="../../assets/images/price_1.png">
                    <img *ngIf="showSlide === 11" @enterExitRight src="../../assets/images/price_3.png">
                    <img *ngIf="showSlide === 12" @enterExitRight src="../../assets/images/price_5.png">
                    <img *ngIf="showSlide === 13" @enterExitRight src="../../assets/images/price_7.png">
                </div>

                <div *ngIf="showSlide >= 14 && showSlide < 20" class="col-sm-6">
                    <div  @enterExitLeft><span class="price-header">какие</span></div>
                    <div  @enterExitLeft><span class="price-title">дополнительные затраты я покрываю?</span></div>
                    <!-- <img src="../../assets/images/price_9.png"> -->
                    <img *ngIf="showSlide === 15" @enterExitRight src="../../assets/images/price_10.png">
                    <img *ngIf="showSlide === 16" @enterExitRight src="../../assets/images/price_12.png">
                    <img *ngIf="showSlide === 17" @enterExitRight src="../../assets/images/price_14.png">
                    <img *ngIf="showSlide === 18" @enterExitRight src="../../assets/images/price_16.png">
                    <img *ngIf="showSlide === 19" @enterExitRight src="../../assets/images/price_18.png">
                </div>

                <div class="col-sm-6">
                    <div>
                        <img class="responsive-image" *ngIf="showSlide === 10" style="position: relative; left: 100%;" src="../../assets/images/price_2.png">
                        <img class="responsive-image" *ngIf="showSlide === 11" style="position: relative; left: 100%;" src="../../assets/images/price_4.png">
                        <img class="responsive-image" *ngIf="showSlide === 12" style="position: relative; left: 100%;" src="../../assets/images/price_6.png">
                        <img class="responsive-image" *ngIf="showSlide === 13" style="position: relative; left: 100%;" src="../../assets/images/price_8.png">
                        <img class="responsive-image" *ngIf="showSlide === 14" style="position: relative; left: 100%;" src="../../assets/images/price_9.png">
                        <img class="responsive-image" *ngIf="showSlide === 15" style="position: relative; left: 100%;" src="../../assets/images/price_11.png">
                        <img class="responsive-image" *ngIf="showSlide === 16" style="position: relative; left: 100%;" src="../../assets/images/price_13.png">
                        <img class="responsive-image" *ngIf="showSlide === 17" style="position: relative; left: 100%;" src="../../assets/images/price_15.png">
                        <img class="responsive-image" *ngIf="showSlide === 18" style="position: relative; left: 100%;" src="../../assets/images/price_17.png">
                        <img class="responsive-image" *ngIf="showSlide === 19" style="position: relative; left: 100%;" src="../../assets/images/price_19.png">
                    </div>
                </div>

            </div>
        </div>
    </div>
</ng-container>
<ng-container>
    <div *ngIf="showSlide >= 20 && showSlide < 27" (click)="displayOtherSlide()">
        <div class="product-2">
            <div class="container container-information">

                <div *ngIf="showSlide === 20" class="col-sm-6">
                    <span @enterExitLeft class="delivery-title">почему</span>
                    <span @enterExitLeft class="delivery-title-1">Я должен ждать 90 дней?</span>
                    <span @enterExitUP class="delivery-description">Предварительные заказы позволяют нам гибко управлять материальными и производственными ресурсами. Это экономит наши и ваши затраты и напрямую влияет на ценообразование. Выбранная нами модель работы по предзаказу также является частью усилий, направленных на повышение экологичности и миним- изацию негативного влияния на окружающую среду. Миллионы нераспроданных предметов одежды крупные бренды ежегодно выбрасывают на свалку и загряз- няют планету. Мы за осознанное потребление. Поэтому производим только необходимое количество вещей.</span>
                </div>

                <div *ngIf="showSlide === 21" class="row">
                    <div style="margin-left: -100px;" class="col-sm-6 justify-content-start">
                            <span class="delivery-title">почему</span>
                            <span class="delivery-title-1">Я должен ждать 90 дней?</span>
                        <div @enterExitLeft><span class="price-title">Заказ и доставка материалов</span></div>
                    </div>
                    <div @enterExitRight style="margin-left: 100px;" class="col-sm-6 justify-content-end">
                        <img src="../../assets/images/delivery_1.png">
                    </div>
                </div>

                <div *ngIf="showSlide === 22" class="row" style="padding-bottom: 30px;">
                    <div style="margin-left: -100px;" class="col-sm-6 justify-content-start">
                        <span class="delivery-title">почему</span>
                            <span class="delivery-title-1">Я должен ждать 90 дней?</span>
                        <div @enterExitLeft><span class="price-title">раскройка и нарезка выкройки</span></div>
                    </div>
                    <div @enterExitRight style="margin-left: 100px;" class="col-sm-6 justify-content-end">
                        <img src="../../assets/images/delivery_2.png">
                    </div>
                </div>

                <div *ngIf="showSlide === 23" class="row" style="padding-bottom: 30px;">
                    <div style="margin-left: -100px;" class="col-sm-6 justify-content-start">
                        <span class="delivery-title">почему</span>
                            <span class="delivery-title-1">Я должен ждать 90 дней?</span>
                        <div @enterExitLeft><span class="price-title">сборка и пошив</span></div>
                    </div>
                    <div @enterExitRight style="margin-left: 100px;" class="col-sm-6 justify-content-end">
                        <img src="../../assets/images/delivery_3.png">
                    </div>
                </div>

                <div *ngIf="showSlide === 24" class="row" style="padding-bottom: 30px;">
                    <div style="margin-left: -100px;" class="col-sm-6 justify-content-start">
                        <span class="delivery-title">почему</span>
                            <span class="delivery-title-1">Я должен ждать 90 дней?</span>
                        <div @enterExitLeft><span class="price-title">non-iron обработка</span></div>
                    </div>
                    <div @enterExitRight style="margin-left: 100px;" class="col-sm-6 justify-content-end">
                        <img src="../../assets/images/delivery_4.png">
                    </div>
                </div>

                <div *ngIf="showSlide === 25" class="row" style="padding-bottom: 30px;">
                    <div style="margin-left: -100px;" class="col-sm-6 justify-content-start">
                        <span class="delivery-title">почему</span>
                            <span class="delivery-title-1">Я должен ждать 90 дней?</span>
                        <div @enterExitLeft><span class="price-title">non-iron обработка</span></div>
                    </div>
                    <div @enterExitRight style="margin-left: 100px;" class="col-sm-6 justify-content-end">
                        <img src="../../assets/images/delivery_5.png">
                    </div>
                </div>

                <div *ngIf="showSlide === 26" class="row" style="padding-bottom: 30px;">
                    <div style="margin-left: -100px;" class="col-sm-6 justify-content-start">
                        <span class="delivery-title">почему</span>
                            <span class="delivery-title-1">Я должен ждать 90 дней?</span>
                        <div @enterExitLeft><span class="price-title">non-iron обработка</span></div>
                    </div>
                    <div @enterExitRight style="margin-left: 100px;" class="col-sm-6 justify-content-end">
                        <img src="../../assets/images/delivery_6.png">
                    </div>
                </div>


            </div>
        </div>

        <div @enterExitRight *ngIf="showSlide === 22" class="row" style="margin-top: -125px;width: 100%;">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <img src="../../assets/images/delivery_2.1.png">
            </div>
        </div>

        <div *ngIf="showSlide === 23" class="row" style="margin-top: -125px;width: 100%;">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <img src="../../assets/images/delivery_3.1.png">
            </div>
        </div>

        <div *ngIf="showSlide === 24" class="row" style="margin-top: -125px;width: 100%;">
            <div class="col-sm-12">
                <img src="../../assets/images/delivery_4.1.png">
            </div>
        </div>

        <div *ngIf="showSlide === 25" class="row" style="margin-top: -125px;width: 100%;">
            <div class="col-sm-12">
                <img src="../../assets/images/delivery_5.1.png">
            </div>
        </div>        

        <div *ngIf="showSlide === 26" class="row" style="margin-top: -125px;width: 100%;">
            <div class="col-sm-12">
                <img style="margin-top: 50px;" src="../../assets/images/delivery_6.1.png">
            </div>
        </div>
    </div>
</ng-container>
<ng-container>
    <div *ngIf="showSlide === 27" (click)="displayOtherSlide()">
        <div class="pre-order">
            <div class="container container-information">
                <div class="row">
                    <div @enterExitUP class="col-sm-6">
                        <img width="450" src="../../assets/images/final_photo.png">
                    </div>
                    <div @enterExitLeft class="col-sm-6">
                        <span class="delivery-title">не тормози</span>
                        <span class="price-title">Smartwhite Oxford Slim Fit</span>
                        <button class="button" style="left:80px !important;" [routerLink]="['/pre-order']">зделать предзаказ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>


