<div *ngIf="showSlide === 0" (click)="displayOtherSlide()">
    <app-black-header></app-black-header>
    <div class="main-page">
        <span style="z-index: -2;" class="main-page-text">SMARTWHITE</span>
        <div>
            <div class="col">       
                 <span class="text">Качество не должно быть дорогим.</span>
                 <button class="button" [routerLink]="['/pre-order']">сделать предзаказ</button>
            </div>
            <img style="z-index: -1;width: 1154px; margin-top: -200px; margin-left: 228px;" src="../../assets/images/man.png">
        </div>
    </div>
</div>
<div *ngIf="showSlide === 1" (click)="displayOtherSlide()">
    <app-our-story></app-our-story>
</div>
<div *ngIf="showSlide === 2" (click)="displayOtherSlide()">
    <app-policy></app-policy>
</div>
