<div class="products">
    <div class="container">
        <div class="row" style="padding-bottom: 50px;">
            <div class="col-sm-6">
                <span class="first-title-0">представляем</span>
                <span class="first-title">Smartwhite Oxford Slim Fit</span>
            </div>
            <div class="col-sm-6"></div>
        </div>
        <div class="row space-line">
            <div class="col-sm-6">
                <img src="../../assets/images/product_1.png">
            </div>
            <div class="col-sm-6">
                <span class="product-title-description-1">Хлопок класса люкс</span>
                <span class="product-title-description-1-1">--------Длина имеет значение</span>
                <span class="product-title-description-2">Фабрика, с которой сотрудничает SmartWhite, производит ткани для известных мировых брендов. Поэтому мы уверены в качестве ткани рубашки SmartWhite на все 100%. Серьёзное внимание мы уделили и выбору поставщика фурнитуры. Прошедшие строгий отбор производители готовят нужную партию тканей, пуговиц, воротничков и оперативно поставляют на швейную фабрику.</span>
            </div>
        </div>
        <div class="row space-line">
            <div class="col-sm-6">
                <span class="product-title-description-1">Технология non-iron</span>
                <span class="product-title-description-1-1">--------Свежий вид даже в конце рабочего дня</span>
                <span class="product-title-description-2">
                    В производстве рубашек SmartWhite используется инновационная технология non-iron, благодаря которой рубашки остаются свежими даже спустя 8 часов носки. Степень сминаемости наших изделий – 3.5, а значит рубашка SmartWhite не мнётся и почти не требует глажки. После стирки она самостоятельно восстанавливает форму.
                </span>
            </div>
            <div class="col-sm-6">
                <img src="../../assets/images/product_2.png">
            </div>
        </div>
        <div class="row space-line">
            <div class="col-sm-6">
                <img src="../../assets/images/product_3.png">
            </div>
            <div class="col-sm-6">
                <span class="product-title-description-1">Воротник STAFLEX Tech</span>
                <span class="product-title-description-1-1">--------Сделано в Японии</span>
                <span class="product-title-description-2">
                    Воротник рубашки обязан держать форму и быть жёстким (а вы – нет). Накрахмаленная до хруста сорочка в прошлом, на смену пришли технологии. В нашем случае – из Японии. В ответе за безупречные воротнички рубашек SmartWhite лидер рынка - STAFLEX. Как результат - безукоризненная форма навсегда.
                </span>
            </div>
        </div>
        <div class="row space-line">
            <div class="col-sm-6">
                <span class="product-title-description-1">Безупречные швы</span>
                <span class="product-title-description-2">
                    В деталях кроется успех. В рубашке SmartWhite идеально ровные швы, не собирающие ткань в неряшливые “морщинки”. Пройма скроена и оформлена максимально аккуратно. В нашей рубашке вы выглядите стильно и опрятно.
                </span>
            </div>
            <div class="col-sm-6">
                <img src="../../assets/images/product_4.png">
            </div>
        </div>
        <div class="row space-line">
            <div class="col-sm-6">
                <img src="../../assets/images/product_5.png">
            </div>
            <div class="col-sm-6">
                <span class="product-title-description-1">Пуговицы с запасом прочности</span>
                <span class="product-title-description-2">
                    В рубашке SmartWhite нет слабых мест, а одно из самых сильных - пуговицы. В 6 раз крепче обычных и с тщательно укрепленной петелькой, они прослужат в 16 раз дольше.
                </span>
            </div>
        </div>
    </div>
</div>