<div class="pre-order">
    <div class="container container-information">
        <div class="row">
          <div class="col-sm">
            <div class="row">
                <img style="padding-right: 10px;padding-bottom: 10px;" height="300" src="../../assets/images/pre_order_1.png">
                <img style="padding-bottom: 10px;" height="300" src="../../assets/images/pre_order_2.png">
            </div>
            <div class="row">
                <img style="padding-right: 10px;padding-bottom: 10px;" height="300" src="../../assets/images/pre_order_3.png">
                <img style="padding-bottom: 10px;" height="300" src="../../assets/images/pre_order_4.png">
            </div>
          </div>
          <div class="col-sm">
            <div>
                <div class="col-sm">
                    <h3>Regular cotton linen-blend shirt</h3>
                    <h2>30$</h2>
                    <button class="sizing-chart">SIZING CHART</button>
                    <div class="text-selection">CHOOSE YOUR SIZE</div>
                    <div class="btn-group" role="group">
                        <button (click)="selectedSize('XS')" type="button" class="radio-button">XS</button>
                        <button (click)="selectedSize('S')" type="button" class="radio-button">S</button>
                        <button (click)="selectedSize('M')" type="button" class="radio-button">M</button>
                        <button (click)="selectedSize('L')" type="button" class="radio-button">L</button>
                        <button (click)="selectedSize('XL')" type="button" class="radio-button">XL</button>
                    </div>
                    <div class="text-selection">QUANTITY</div>
                    <div class="quantity">
                        <button class="radio-button" type="button" (click)="removeQuantity()">
                            -
                        </button>
                        <button class="radio-button">{{quantity ? quantity : 1}}</button>
                        <button class="radio-button" type="button" (click)="addQuantity()">
                            +
                        </button>
                    </div>
                    <span class="descritpion">90-day arrival</span>
                    <span style="padding-left: 44px;" class="descritpion">20-day Return Guarantee</span>
                    <button class="buy" (click)="buy()">BUY NOW</button>
                    <br/><br/><br/>
                    <span class="details">Details</span>
                    <ul>
                        <li class="li-element">Хлопок класса люкс</li>
                        <li class="li-element">Технология non-iron</li>
                        <li class="li-element">Воротник Staflex Tech</li>
                        <li class="li-element">Безупречные швы</li>
                        <li class="li-element">Пуговицы с запасом прочности</li>
                    </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>
