<div class="our-story">
    <span style="z-index: -1;" class="our-story-text">SMARTWHITE</span>
    <div class="row">
        <div class="col-sm-4">
            <img class="responsive" style="padding-top: 27px;" 
            src="../../assets/images/cristin 1.png">
        </div>
        <div class="col-sm-4">
            <span class="our-story-title">Самое важное для нас - честность.</span>
            <div class="col-sm-6">
                <span class="description">
                    Мы изучили рынок и пришли к выводу, что предметы роскоши на самом деле не дороги в производстве. Их просто дорого продают. Мы нашли лучших мировых производителей в Азии, регионе, которому доверяют свой текстиль престижные бренды-миллионники
                </span>
            </div>
            <div class="col-sm-6">
                <span class="description-2">
                    Рубашки SMARTWHITE шьют на тех же фабриках, из тех же тканей и по аналогичным лекалам. Единственное отличие – цена. Лучшая из возможных.
                </span>
            </div>           
        </div>
        <div class="col-sm-4">
            <img class="responsive" 
            src="../../assets/images/cristin 2.png">
        </div>
    </div>   
</div>