<app-black-header></app-black-header>
<div class="our-story">
    <span style="z-index: -1;" class="our-story-text">SMARTWHITE</span>
    <span class="our-story-title">Самое важное для нас - честность.</span>
    <span class="description">
        Мы изучили рынок и пришли к выводу, что предметы роскоши на самом деле не дороги в производстве. Их просто дорого продают. Мы нашли лучших мировых производителей в Азии, регионе, которому доверяют свой текстиль престижные бренды-миллионники
    </span>
    <span class="description-2">
        Рубашки SMARTWHITE шьют на тех же фабриках, из тех же тканей и по аналогичным лекалам. Единственное отличие – цена. Лучшая из возможных.
    </span>
    <div class="row" style="width: 100%;display: flex;justify-content: center;"> 
        <img style="position: absolute;left: -1.59%;;right: 63.8%;top: 7.67%;; bottom: -32.3%;" 
        src="../../assets/images/cristin 1.png">
        <img style="position: absolute; left: 60.4%;; right: -8.65%; top: 0%;; bottom: -27.67%;" 
        src="../../assets/images/cristin 2.png">
    </div>     
</div>