<div class="policy">
  <div class="container">
    <div class="policy-body-description">
      <h1 class="policy-title">Return Policy</h1>
      <h1 class="policy-description">Easy Returns for all of our products.</h1>
      <h6 class="h6-title" style="text-transform: uppercase">
        We offer 20-days money back guaranteed
      </h6>
      <span class="h6-title">
        We want you to be fully satisfied with every product that you purchase
        from www.smwhite.ru and we understand that it may be tricky when it
        comes shopping online. If there’s any sign of manufacturing defect on
        the item that you have purchased or if you find that the product does
        not fit you well, you may return the product within 30 days for an
        exchange or a refund. Please note, however, the product will have to be
        in the exact same condition as when you’ve received it and with the
        original packaging.
      </span>
      <h6 class="h6-title" style="text-transform: uppercase">
        You can choose one of the following return options
      </h6>
      <span class="h6-title">
        Exchange your item for a different size or a replacement for a wrong or
        defective item received or a full refund to your original payment mode.
      </span>
      <h6 class="h6-title" style="text-transform: uppercase">
        No nonsense return policy
      </h6>
      <span class="h6-title">
        Merchandise must be returned within the stated period of time from the
        date the item is received. Postage is to be borne by the customer in the
        event of an exchange or return. To be eligible for a return/exchange,
        your item must be unused/unwashed, must be in the original packaging in
        your package of the returned item(s) and with tags attached to the
        product. Returns/exchanges may take up to 10 - 15 business days,
        excluding shipping times. While stocks last.
      </span>
      <h6 class="h6-title" style="text-transform: uppercase">
        Important information
      </h6>
      <div>
        <span class="h6-title">
            To protect all our customers and make sure that we handle every return
            or exchange with reasonable fairness, we refuse to accept a return or
            exchange in certain situations, including:
          </span>
          <span class="h6-title">
            Products damaged by misuse, abuse, improper care or negligence, or
            accidents (including pet damage) Products showing excessive wear and
            tear. Products lost or damaged due to fire, flood, or natural disaster.
            Products with a missing label or label that has been defaced/removed or
            the item has been washed. Products returned for personal reasons
            unrelated to product performance or satisfaction. Products that have
            been soiled or contaminated.
          </span>
      </div>
      
      <h6 class="h6-title" style="text-transform: uppercase">
        Exchange Eligibility
      </h6>
      <span class="h6-title">
        Exchanges are only available for size of the same style. Exchanging for
        a different product is strictly not allowed. Exchange/Refund for any
        purchases from any retail outlet/experience store are to be referred
        back to their respective Return Policy. Online purchase's return policy
        does not apply to any physical store purchases.
      </span>
      <h6 class="h6-title" style="text-transform: uppercase">Refund Process</h6>
      <span class="h6-title">
        Refunds are typically issued via your preferred payment method indicated
        while placing your order. All returns will be refunded via your original
        payment method. * For the vast majority of returns, it takes about 15 -
        20 Business Days for us to get your package at the fulfilment centre,
        inspect your return, process it into inventory, and complete your
        refund.
      </span>
      <h6 class="h6-title" style="text-transform: uppercase">Please note:</h6>
      <span class="h6-title">
        SMWHITE.RU reserves the rights to withhold any refunds if your original
        item have not reached our warehouse. Ensure that refund details given
        are correct and complete. Discount codes cannot be re-issued and are
        non-refundable. If you return an item which was purchased using a
        discount code, only the final paid price (after discount) will be
        refunded. If you placed your order using Guest Checkout and don’t have a
        SMART WHITE account, please create a SMART WHITE account to initiate an
        exchange or return. For all return, exchange or refund requests, please
        drop us an email at hello@smwhite.ru with your order number and request
        and we will attend to your email within 1 – 2 business days.
      </span>
    </div>
  </div>
</div>
